@import url("fonts.css");
@import url("top-menu.css");
@import url("top-menu-ie8.css");
@import url("slider.css");
@import url("popupplayer.css");

* {
	padding:0%;
	margin:0%;
}

body {
	font-family: niloofar, tahoma, homa, opensans;
	color: #666;
	font-size: 16px;
	background-color: #F9F9F9;
	background-image: url(../uploads/source/images/other-images/bg.jpg);
	background-repeat: repeat;
}

a {
	text-decoration: none;
}

p {
	display: block;
	margin-top: 8px;
}

#header {
	width: 990px;
	margin: 1.5% auto 0.25% auto;
}
#header-inner {
}
#slider {
	font-family: tahoma;
	margin: 0.25% auto;
	width: 990px;
	background-color: #FFF;
	direction: ltr;
}
#spacer {
	height: 0.3%;
}

#wrapper {
	width: 990px;
	margin: 0px auto;
	direction: rtl;
}
#rightsidebar {
	width: 280px;
	float: right;
	background-color: #FFF;
}
#rightsidebar-inner {
	background-color: #FFF;
	padding: 2.5% 5%;
	margin-top: 1.3%;
}
#rightsidebar-inner-content {
}
#leftsidebar {
	width: 675px;
	float: left;
	padding: 5px 1.5%;
	background-color: #FFF;
}
#leftsidebar-inner {
	padding: 5px 10px;
}
.leftsidebarnav {
	margin-bottom: 0.35%;
}
#footer {
	width: 990px;
	margin: 0.3% auto 1.5% auto;
}
#footer-inner {
	background-color: #FFF;
	direction: rtl;
}
#footer-left {
	font-size: 14px;
	width: 232px;
	padding: 1% 2%;
	float: left;
}
#footer-right p {
	margin: 0px;
}
#footer-right {
	font-size: 14px;
	width: 665px;
	padding: 1% 2%;
	float: right;
	text-align: right;
}
#footer-copyright {
	font-size: 13px;
	direction: ltr;
	text-align:center;
	width: 98%;
	padding: 1%;
	float: left;
}
#footer-links {
	display: block;
	margin-top: 6px;
}

#search {
	width: 96%;
	padding: 0 2%;
}

.clearer {
	clear: both;
}

.display-none {
	display: none;
}

.bordered {
	-webkit-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.19);
	-moz-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.19);
	box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.19);
}

ul{
	margin-bottom: 12px;
}

ol{
	list-style-type: decimal;
	margin-bottom: 12px;
}

li {
	display: list-item;
	list-style-position: inside;
	margin-left: 12px;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 15px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 13px;
}
h6 {
	font-size: 12px;
}
hr {
	margin: 10px 0px;
	background-color: #F9F9F9;
	opacity: 0.1;
}
.pageDescription{
	padding-bottom: 16px;
	margin-bottom: 16px;
	border-bottom: #eeeeee 1px solid;
}

.article{
	margin-bottom: 16px;
	padding-bottom: 32px;
	border-bottom: #eeeeee 1px solid;
}
#articleContainer {
}
.articleTitle{
	font-size: 20px;
	font-weight: bold;
}
.articleDate{
	font-size: 12px;
	margin-bottom: 12px;
}
.articleImage{
	max-width: 100%;
	height: auto;
}
.articleImageSmall{
	width: 180px;
	height: auto;
	margin: 0px 0px 8px 8px;
}
.articleImageFull{
	width: 100%;
	height: auto;
}
.articleImageHolder{
	text-align: center;
	position: relative;
	margin-left: 8px;
	margin-bottom: 8px;
	float: right;
}
.articleReadMore{
	color: #5595ff;
	text-decoration: none;
	float: left;
}
.articleReadMore:hover{
	font-weight: normal;
	color: #aacaff;
	text-decoration: none;
	float: left;
}
.articleComments {
	background-color: #efefef;
	padding: 8px;
	margin-bottom: 4px;
	border-radius: 3px;
	font-size: 14px;
}
.articleReplyComments {
	background-color: #fafafa;
	padding: 8px;
	margin-bottom: 4px;
	margin-right: 48px;
	border-radius: 3px;
	font-size: 14px;
}
.articleCommentsSuccess {
	background-color: #05e205;
	color: #ffffff;
	padding: 6px;
	margin-bottom: 8px;
}
.articleCommentsError {
	background-color: #df0101;
	color: #ffffff;
	padding: 6px;
	margin-bottom: 8px;
}
.articleComments span {
	font-size: 12px;
}

.message {
	background-color: #0066FF;
	color: #ffffff;
	padding: 6px;
	margin-bottom: 8px;
}
.success {
	background-color: #05e205;
	color: #ffffff;
	padding: 6px;
	margin-bottom: 8px;
}
.error {
	background-color: #df0101;
	color: #ffffff;
	padding: 6px;
	margin-bottom: 8px;
}

#player{
	font-family: niloofar;
	width: auto;
	height: auto;
	color: #555555;
	padding: 0px 20px 10px 20px;
	background-color: #F3F3F3;
	margin-bottom: 1.3%;
	border: 1px solid #F6F6F6;
	direction: ltr;
}
#liveradio {
	font-size: 17px;
	text-align: center;
	margin: 0px 0px 10px 0px;
}
#song-information {
	width: 70%;
	float: left;
	text-align: right;
}
#controls {
	font-size: 14px;
	width: 30%;
	float: left;
	text-align: right;
}
#controls img {
	width: 40px;
	height: 41px;
}

#play-pause {
	width: 40px;
	height: 41px;
	cursor: pointer;
	float: right;
}
.paused{
    background-image: url('../uploads/source/images/players/small-gray-play.png');
    background-repeat: no-repeat;
}
.playing{
    background-image: url('../uploads/source/images/players/small-gray-pause.png');
    background-repeat: no-repeat;
}
#volume-slider{
	width: 100%;
}
#now-playing-name{
	font-size: 15px;
	font-weight: 400;
	margin: 0px 0px 2px 0px;
}
#now-playing-album{
	font-size: 14px;
	margin: 0px 0px 5px 0px;
}
#current-time{
	font-family: opensans;
	font-size: 14px;
	font-weight: 400;
	float: right;
	width: 98%;
	padding: 4px 6px 5px 0px;
}
#popuplink {
	font-size: 14px;
	text-align: center;
}
#popuplink li {
	margin:3px 2px 2px 2px;
	display: block;
	float:left;
}

#popuplink img {
	width: 40px;
	height: 40px;
	padding: 0px 3px;
	margin: 5px 0px 0px 0px;
}
#popuplink img:hover {
	-moz-transform: translate(0px, -4px);
	-ms-transform: translate(0px, -4px);
	-o-transform: translate(0px, -4px);
	-webkit-transform: translate(0px, -4px);
	transform: translate(0px, -4px);
}

/**/
/* forms */
/**/
.contactus {
	}

.deny {
	font-size:1em;
	font-weight:bold;
	color:#F00;
	text-align:center;
}
.approve {
	font-size:1em;
	font-weight:bold;
	color:#3C3;
	text-align:center;
}
.error {
	font-size:1em;
	font-weight:bold;
	padding:5px 0 0;
	color:#f30;
	text-align:center;
}

.captchaform {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: auto;
	outline: none;
	border: 2px solid rgba(0,0,0,.08);
	border-radius: 0;
	background: ;
	font: 13px/19px;
	color: #404040;
	appearance: normal;
	-moz-appearance: none;
	-webkit-appearance: none;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
#security_code {
	float:left;
	padding:10px;
	width:auto;
	height: auto;
	border: none;
	text-align:left;
}
#captcha {
	float:right;
	width:auto;
	height: auto;
	border: none;
}
.captcha {
	width: auto;
}
.captchaform img {
	width: 40px;
	height: auto;
	float: right;
}
#captcha_image {
	float:right;
	width:auto;
	height: auto;
	border: none;
}
#captcha_image_comments {
	width: auto;
	height: auto;
	float: left;
}
#captcha_code {
	width: auto;
}
#captcha_code_comments {
	float:left;
	padding:10px;
	width:auto;
	height: auto;
	border: none;
}
/*********************************/
.form {
	padding: 15px;
}
.form fieldset {
	display: block;	
	padding: 25px 30px;
}
.form fieldset + fieldset {
}
.form section {
	margin-bottom: 20px;
}

.form .email{
	text-align:left;
}

.form .radio,
.form .checkbox,{
	margin-right: 10px;
}
.form .input,
.form .textarea,
.form .select,
.form .radio,
.form .checkbox,
.form .button {
	position: relative;
	display: block;
}
.form .input input,
.form select,
.form .textarea textarea {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 39px;
	padding: 8px 10px;
	outline: none;
	border: 2px solid #e5e5e5;
	border-radius: 0;
	background: #fff;
	font: 13px/19px opensans, Helvetica, Arial, sans-serif;
	color: #404040;
	appearance: normal;
	-moz-appearance: none;
	-webkit-appearance: none;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
.form .textarea textarea {
	height: auto;
	resize: none;
}
.form .button {
	float: left;
	overflow: hidden;
	width: 100%;
	padding: 0px 20px;
	outline: none;
	border: 0;
	background-color: #2da5da;
	border: 2px solid #2da5da;
	font: 400 14px/39px opensans, Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	opacity: 0.8;
	transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
}
.form .input, .form .textarea {
}
.form .fa-append {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 29px;
	height: 29px;
	padding-left: 3px;
	border-left: 1px solid #e5e5e5;
	font-size: 15px;
	line-height: 29px;
	text-align: center;
	color: #ccc;
}
.form .input .fa-append + input,
.form .textarea .fa-append + textarea {
	padding-right: 46px;
}
.form .row {
	margin: 0 -15px;
}
.form .row:after {
	content: '';
	display: table;
	clear: both;
}
.form .col {
	float: left;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.form .col-6 {
	width: 50%;
}
.form .input:hover input,
.form .textarea:hover textarea,
.form .checkbox:hover i,
#security_code:hover {
	border-color: rgba(0,0,0,.06);
}
.form .button:hover {
	opacity: 1;
}
.form .input input:focus,
.form .textarea textarea:focus,
.form .checkbox input:focus + i {
	border-color: #2da5da;
}

.captcha {
	width: auto;
}
.captcha img {
	width: 32px;
	height: 32px;
	float: right;
}
#captcha_image {
	width: auto;
	height: auto;
	float: right;
}
#captcha_image_comments {
	width: auto;
	height: auto;
	float: right;
}
#captcha_code {
	width: auto;
	float: right;
	direction: rtl;
}
#captcha_code_comments {
	width: auto;
	float: right;
}

img {
	width: 100%;
	height: auto;
}
video {
	width: 100%;
	height: auto;
}
audio {
	width: 100%;
	height: auto;
	min-height:40px;
	outline:none;
}

/* for 980px or less */
@media screen and (max-width: 980px) {

	#slider {
		width: 97%;
		margin: 0.35% 1% 0.35% 1.5%;
	}
	#header, #footer {
		width: 99%;
	}
	#header-inner, #footer-inner {
		margin: 0.35% 1%;
	}
	#wrapper {
		width: 97%;
	}
	#rightsidebar {
		width: 27%;
		float: right;
	}
	#player{
		margin-bottom: 1.5%;
	}
	#rightsidebar-inner {
		margin: 1.5% 0% 0% 0%;
		padding: 3% 5%;
	}
	#rightsidebar-inner-content {
	}
	#leftsidebar {
		width: 69.6%;
		float: left;
	}
	.leftsidebarnav {
	}
	#footer-right {
		width: 68%;
		font-size: 14px;
		padding: 1% 2% 1% 1.5%;
		float: right;
	}

	#footer-copyright {
		width: 97.5%;
		text-align:center;
		padding: 1.5%;
		float: left;
	}

	#footer-left {
		width: 25%;
		font-size: 14px;
		padding: 1% 1.5% 1% 2%;
		float: left;
	}
}

/* for 700px or less */
@media screen and (max-width: 700px) {

	#slider {
		width: 97%;
		margin: 0.35% 1% 0.35% 1.5%;
	}
	#header, #footer {
		width: 99%;
	}
	#header-inner, #footer-inner {
		margin: 0.35% 1%;
	}
	#wrapper {
		width: 97%;
	}
	#leftsidebar {
		width: auto;
		float: none;
	}
	#player{
		margin-bottom: 0.5%;
	}
	#leftsidebar-inner {
		margin: 0.5% 0%;
		padding: 1% 1.5%;
	}
	#leftsidebar-inner-content {
	}
	#rightsidebar {
		width: auto;
		float: none;
	}
	.rightsidebarnav {
	}
	#leftsidebar, #rightsidebar {
	}
	#footer-left {
		width: 30%;
		float: left;
	}
	#footer-copyright {
		width: 98%;
		float: left;
		text-align:center;
	}
	#footer-right {
		width: 62%;
		float: right;
	}
}

/* for 480px or less */
@media screen and (max-width: 480px) {

	#slider {
		width: 97%;
		margin: 0.35% 1% 0.35% 1.5%;
	}
	#header, #footer {
		width: 99%;
	}
	#header-inner, #footer-inner {
	}
	#wrapper {
		width: 97%;
	}
	#leftsidebar {
		width: auto;
		float: none;
	}
	#player{
		margin-bottom: 0.5%;
	}
	#leftsidebar-inner {
		margin: 0.5% 0%;
		padding: 1% 1.5%;
	}
	#leftsidebar-inner-content {
	}
	#rightsidebar {
		width: auto;
		float: none;
	}
	.rightsidebarnav {
	}
	#leftsidebar, #rightsidebar {
	}
	#footer-left {
		width: auto;
		float: none;
	}
	#footer-copyright {
		width: auto;
		float: none;
	}
	#footer-right {
		width: auto;
		float: none;
	}

}
